<!DOCTYPE html>
<html lang="en">
<%- include ("partials/head.ejs") %>

<body>
  <header>
    <%- include ("partials/navbar.ejs") %>
  </header>
  <main>
    <div class="container">
      <form class="row g-3" id="techform">
        <h2>Technician Info</h1>
          <hr>
          <div class="col-md-6">
            <label for="fname" class="form-label">First Name</label>
            <input type="text" class="form-control" name="fname" id="fname">
          </div>
          <div class="col-md-6">
            <label for="lname" class="form-label">Last Name</label>
            <input type="text" class="form-control" name="lname" id="lname">
          </div>
          <div class="col-md-6">
            <label for="email" class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" id="email">
          </div>
          <div class="col-md-6">
            <label for="phone" class="form-label">Contact Number</label>
            <input type="tel" class="form-control" name="phone" id="phone">
          </div>
          <div class="col-12">
            <button type="button" class="btn btn-warning" onclick="cleartech()">Cancel</button>
            <button type="button" class="btn btn-primary" onclick="savetech()">Save</button>
            <span id="techerrmessage" hidden>Please fill out all boxes</span>
          </div>
      </form>
    </div>
  </main>
  <footer>
    <%- include ("partials/footer.ejs") %>
  </footer>
  <script>
    let savetech = () => {
      if (document.querySelector("#fname").value == "" || document.querySelector("#lname").value == "" || document.querySelector("#email").value == "" || document.querySelector("#phone").value == "") {
        document.querySelector("#techerrmessage").hidden = false;
        return;
      }
      else{
        document.querySelector("#techerrmessage").hidden = true;
      }
      
      var form = {
        fname: $("#fname").val(),
        lname: $("#lname").val(),
        email: $("#email").val(),
        phone: $("#phone").val()
      }
      $.ajax({
        url: '/techs/savetechs',
        type: 'POST',
        data: form,
        success: function (data, status) {
          if (status == "success")
            alert("Saved!")
        }
      })
    }

    let cleartech = () => {
      document.querySelector("#fname").value = "";
      document.querySelector("#lname").value = "";
      document.querySelector("#email").value = "";
      document.querySelector("#phone").value = "";
      document.querySelector("#fname").focus();
    }
  </script>

</body>

</html>